In [1]:
import pandas as pd

In [2]:
# define file path for matches.csv
file_path = './data/Matches.csv'

# read matches.csv file into a dataframe
matches_df = pd.read_csv(file_path, header=0)

# inspect the first five rows of the dataframe
matches_df.head()

,id,homeID,awayID,season,status,roundID,game_week,revised_game_week,homeGoals,awayGoals,...,matches_completed_minimum,over05,over15,over25,over35,over45,over55,btts,homeGoals_timings,awayGoals_timings
0,2155,150,108,2016/2017,complete,19,1,-1,"['45+1', '57']",['47'],...,38,True,True,True,False,False,False,True,"['45+1', '57']",['47']
1,2156,145,154,2016/2017,complete,19,1,-1,[],['82'],...,38,True,False,False,False,False,False,False,[],['82']
2,2157,143,142,2016/2017,complete,19,1,-1,[],['74'],...,38,True,False,False,False,False,False,False,[],['74']
3,2158,144,92,2016/2017,complete,19,1,-1,['5'],['59'],...,38,True,True,False,False,False,False,True,['5'],['59']
4,2159,147,141,2016/2017,complete,19,1,-1,['11'],['67'],...,38,True,True,False,False,False,False,True,['11'],['67']

In [3]:
matches_df.shape

(6460, 215)

In [4]:
matches_df.dtypes.unique()

array([dtype('int64'), dtype('O'), dtype('float64'), dtype('bool')],
      dtype=object)

In [5]:
matches_df.dtypes[matches_df.dtypes == 'object']

season               object
status               object
homeGoals            object
awayGoals            object
stadium_name         object
stadium_location     object
home_url             object
home_image           object
home_name            object
away_url             object
away_image           object
away_name            object
match_url            object
homeGoals_timings    object
awayGoals_timings    object
dtype: object

In [6]:
matches_df.dtypes[matches_df.dtypes == 'bool']

over05    bool
over15    bool
over25    bool
over35    bool
over45    bool
over55    bool
btts      bool
dtype: object

In [7]:
# check unique values in the 'no_home_away' column
matches_df['no_home_away'].unique()

array([0], dtype=int64)

In [24]:
matches_df['pens_recorded'].unique()

array([1], dtype=int64)

In [8]:
# check unique values in the 'game_week' column
matches_df['game_week'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38,  0], dtype=int64)

In [9]:
matches_df['revised_game_week'].unique()

array([-1], dtype=int64)

In [10]:
matches_df[['homeGoals', 'awayGoals', 'homeGoals_timings', 'awayGoals_timings']].head()

        homeGoals awayGoals homeGoals_timings awayGoals_timings
0  ['45+1', '57']    ['47']    ['45+1', '57']            ['47']
1              []    ['82']                []            ['82']
2              []    ['74']                []            ['74']
3           ['5']    ['59']             ['5']            ['59']
4          ['11']    ['67']            ['11']            ['67']

In [11]:
# check unique values in the status column
matches_df['status'].unique()

array(['complete', 'incomplete', 'suspended'], dtype=object)

In [12]:
# Check list of incomplete matches
matches_df[matches_df['status'] == 'incomplete' ]

,id,homeID,awayID,season,status,roundID,game_week,revised_game_week,homeGoals,awayGoals,...,matches_completed_minimum,over05,over15,over25,over35,over45,over55,btts,homeGoals_timings,awayGoals_timings
6240,6689113,148,271,2023/2024,incomplete,100543,17,-1,[],[],...,19,False,False,False,False,False,False,False,[],[]
6280,6689153,148,151,2023/2024,incomplete,100543,21,-1,[],[],...,19,False,False,False,False,False,False,False,[],[]
6281,6689154,59,143,2023/2024,incomplete,100543,21,-1,[],[],...,20,False,False,False,False,False,False,False,[],[]
6282,6689155,218,211,2023/2024,incomplete,100543,21,-1,[],[],...,19,False,False,False,False,False,False,False,[],[]
6283,6689156,209,223,2023/2024,incomplete,100543,21,-1,[],[],...,20,False,False,False,False,False,False,False,[],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6455,6689328,143,158,2023/2024,incomplete,100543,38,-1,[],[],...,20,False,False,False,False,False,False,False,[],[]
6456,6689329,151,223,2023/2024,incomplete,100543,38,-1,[],[],...,20,False,False,False,False,False,False,False,[],[]
6457,6689330,271,162,2023/2024,incomplete,100543,38,-1,[],[],...,19,False,False,False,False,False,False,False,[],[]
6458,6689331,93,153,2023/2024,incomplete,100543,38,-1,[],[],...,19,False,False,False,False,False,False,False,[],[]
6459,6689332,251,92,2023/2024,incomplete,100543,38,-1,[],[],...,20,False,False,False,False,False,False,False,[],[]

In [13]:
# check list of suspended matches
matches_df[matches_df['status'] == 'suspended' ]

,id,homeID,awayID,season,status,roundID,game_week,revised_game_week,homeGoals,awayGoals,...,matches_completed_minimum,over05,over15,over25,over35,over45,over55,btts,homeGoals_timings,awayGoals_timings
6255,6689128,93,218,2023/2024,suspended,100543,18,-1,[],[],...,19,False,False,False,False,False,False,False,[],[]

In [14]:
# Check seasons from which matches are incomplete
matches_df[matches_df['status'] == 'incomplete' ]['season'].unique()

array(['2023/2024'], dtype=object)

In [15]:
# Check list of incomplete matches
matches_df[matches_df['status'] == 'suspended' ]['season'].unique()

array(['2023/2024'], dtype=object)

## Data Inspection Notes

### Data Types in the Dataset

#### Irrelevant columns

The dataset exhibits a diverse range of data types, encompassing `object`, `float64`, `int64`, and `bool`. Upon closer examination of columns with the `object` data type, several columns have been identified as having limited relevance to the project's objectives. Consequently, the following `object` type columns are slated for removal, as they contribute minimally to the project:

- Stadium_name
- Stadium_location
- home_url
- home_image
- home_name
- away_url
- away_image
- away_name
- match_url
- date_unix


### Uninformative Columns

Three `int64` type columns, namely `pens_recorded`, `no_home_away` and `revised_game_week`, were identified as having uniform values across all entries, rendering them of little relevance. Consequently, these columns will be dropped from the dataset.

### Redundant Columns

Upon closer scrutiny of the dataset, it was observed that the columns `homeGoals` and `homeGoals_timings` contained identical information, as did `awayGoals` and `awayGoals_timings`. In the interest of eliminating redundancy and retaining more descriptive columns, it has been decided to remove the `homeGoals` and `awayGoals` columns.


### Match Status Column

The match status column reveals three distinct values: `complete`, `incomplete`, and `suspended`. Notably, all instances of incomplete and suspended matches are specific to the current season (2023/2024). Consequently, these particular matches are considered irrelevant to the project as they have not been played and can be safely excluded from the dataset. Furthermore, the status column itself becomes obsolete once 'incomplete' and 'suspended' matches are removed and can be dropped from the dataset.

### Unique Identifier Columns (Non-feature/target columns)

Several columns function as unique identifiers and are unlikely to contribute to predictive power. While these identifiers may be valuable during Exploratory Data Analysis (EDA), they should be dropped during model training. The identified columns are:

- id
- homeID
- awayID
- Season
- competition_id
- roundID
- refereeID
- coach_a_ID
- coach_b_ID


### Nested Data

Upon inspection, it was observed that two columns, namely `homeGoals_timings` and `awayGoals_timings`, are structured as arrays. These columns provide information on goal timings for the home and away teams, respectively. The data within these arrays is likely to hold valuable predictive power regarding the number of goals scored in the first and second halves of a match. As part of the data cleaning process, it is imperative to flatten these arrays. Furthermore, since the data within the arrays is currently in string format, a conversion to numerical format is necessary to enhance its utility for analysis and modeling.

In [16]:
# remove all entries with incomplete or suspended status
matches_df = matches_df[matches_df['status'] == 'complete']

In [17]:
# define list of irrelevant columns
irrelevant_columns = [
    'status',
    'stadium_name',
    'stadium_location',
    'home_url',
    'home_image',
    'home_name',
    'away_url',
    'away_image',
    'away_name',
    'match_url',
    'date_unix',
    'no_home_away',
    'revised_game_week',
    'homeGoals',
    'awayGoals',
    'pens_recorded'
]

# dropping irrevant columns
matches_df.drop(columns=irrelevant_columns, inplace=True)

In [18]:
# check shape of df after removing irrelevant columns
matches_df.shape

(6278, 200)

In [19]:
matches_df.head()

,id,homeID,awayID,season,roundID,game_week,homeGoalCount,awayGoalCount,totalGoalCount,team_a_corners,...,matches_completed_minimum,over05,over15,over25,over35,over45,over55,btts,homeGoals_timings,awayGoals_timings
0,2155,150,108,2016/2017,19,1,2,1,3,5,...,38,True,True,True,False,False,False,True,"['45+1', '57']",['47']
1,2156,145,154,2016/2017,19,1,0,1,1,7,...,38,True,False,False,False,False,False,False,[],['82']
2,2157,143,142,2016/2017,19,1,0,1,1,3,...,38,True,False,False,False,False,False,False,[],['74']
3,2158,144,92,2016/2017,19,1,1,1,2,5,...,38,True,True,False,False,False,False,True,['5'],['59']
4,2159,147,141,2016/2017,19,1,1,1,2,9,...,38,True,True,False,False,False,False,True,['11'],['67']

In [20]:
matches_df['matches_completed_minimum'].unique()

array([38, 19, 20], dtype=int64)

In [21]:
list_of_columns = list(matches_df.columns)
list_of_columns

['id',
 'homeID',
 'awayID',
 'season',
 'roundID',
 'game_week',
 'homeGoalCount',
 'awayGoalCount',
 'totalGoalCount',
 'team_a_corners',
 'team_b_corners',
 'totalCornerCount',
 'team_a_offsides',
 'team_b_offsides',
 'team_a_yellow_cards',
 'team_b_yellow_cards',
 'team_a_red_cards',
 'team_b_red_cards',
 'team_a_shotsOnTarget',
 'team_b_shotsOnTarget',
 'team_a_shotsOffTarget',
 'team_b_shotsOffTarget',
 'team_a_shots',
 'team_b_shots',
 'team_a_fouls',
 'team_b_fouls',
 'team_a_possession',
 'team_b_possession',
 'refereeID',
 'coach_a_ID',
 'coach_b_ID',
 'team_a_cards_num',
 'team_b_cards_num',
 'odds_ft_1',
 'odds_ft_x',
 'odds_ft_2',
 'odds_ft_over05',
 'odds_ft_over15',
 'odds_ft_over25',
 'odds_ft_over35',
 'odds_ft_over45',
 'odds_ft_under05',
 'odds_ft_under15',
 'odds_ft_under25',
 'odds_ft_under35',
 'odds_ft_under45',
 'odds_btts_yes',
 'odds_btts_no',
 'odds_team_a_cs_yes',
 'odds_team_a_cs_no',
 'odds_team_b_cs_yes',
 'odds_team_b_cs_no',
 'odds_doublechance_1x',
 'odds_doublechance_12',
 'odds_doublechance_x2',
 'odds_1st_half_result_1',
 'odds_1st_half_result_x',
 'odds_1st_half_result_2',
 'odds_2nd_half_result_1',
 'odds_2nd_half_result_x',
 'odds_2nd_half_result_2',
 'odds_dnb_1',
 'odds_dnb_2',
 'odds_corners_over_75',
 'odds_corners_over_85',
 'odds_corners_over_95',
 'odds_corners_over_105',
 'odds_corners_over_115',
 'odds_corners_under_75',
 'odds_corners_under_85',
 'odds_corners_under_95',
 'odds_corners_under_105',
 'odds_corners_under_115',
 'odds_corners_1',
 'odds_corners_x',
 'odds_corners_2',
 'odds_team_to_score_first_1',
 'odds_team_to_score_first_x',
 'odds_team_to_score_first_2',
 'odds_win_to_nil_1',
 'odds_win_to_nil_2',
 'odds_1st_half_over05',
 'odds_1st_half_over15',
 'odds_1st_half_over25',
 'odds_1st_half_over35',
 'odds_1st_half_under05',
 'odds_1st_half_under15',
 'odds_1st_half_under25',
 'odds_1st_half_under35',
 'odds_2nd_half_over05',
 'odds_2nd_half_over15',
 'odds_2nd_half_over25',
 'odds_2nd_half_over35',
 'odds_2nd_half_under05',
 'odds_2nd_half_under15',
 'odds_2nd_half_under25',
 'odds_2nd_half_under35',
 'odds_btts_1st_half_yes',
 'odds_btts_1st_half_no',
 'odds_btts_2nd_half_yes',
 'odds_btts_2nd_half_no',
 'overallGoalCount',
 'ht_goals_team_a',
 'ht_goals_team_b',
 'goals_2hg_team_a',
 'goals_2hg_team_b',
 'GoalCount_2hg',
 'HTGoalCount',
 'winningTeam',
 'btts_potential',
 'btts_fhg_potential',
 'btts_2hg_potential',
 'goalTimingDisabled',
 'attendance',
 'corner_timings_recorded',
 'card_timings_recorded',
 'team_a_fh_corners',
 'team_b_fh_corners',
 'team_a_2h_corners',
 'team_b_2h_corners',
 'corner_fh_count',
 'corner_2h_count',
 'team_a_fh_cards',
 'team_b_fh_cards',
 'team_a_2h_cards',
 'team_b_2h_cards',
 'total_fh_cards',
 'total_2h_cards',
 'attacks_recorded',
 'team_a_dangerous_attacks',
 'team_b_dangerous_attacks',
 'team_a_attacks',
 'team_b_attacks',
 'team_a_xg',
 'team_b_xg',
 'total_xg',
 'team_a_penalties_won',
 'team_b_penalties_won',
 'team_a_penalty_goals',
 'team_b_penalty_goals',
 'team_a_penalty_missed',
 'team_b_penalty_missed',
 'pens_recorded',
 'goal_timings_recorded',
 'team_a_0_10_min_goals',
 'team_b_0_10_min_goals',
 'team_a_corners_0_10_min',
 'team_b_corners_0_10_min',
 'team_a_cards_0_10_min',
 'team_b_cards_0_10_min',
 'throwins_recorded',
 'team_a_throwins',
 'team_b_throwins',
 'freekicks_recorded',
 'team_a_freekicks',
 'team_b_freekicks',
 'goalkicks_recorded',
 'team_a_goalkicks',
 'team_b_goalkicks',
 'o45_potential',
 'o35_potential',
 'o25_potential',
 'o15_potential',
 'o05_potential',
 'o15HT_potential',
 'o05HT_potential',
 'o05_2H_potential',
 'o15_2H_potential',
 'corners_potential',
 'offsides_potential',
 'cards_potential',
 'avg_potential',
 'home_ppg',
 'away_ppg',
 'pre_match_home_ppg',
 'pre_match_away_ppg',
 'pre_match_teamA_overall_ppg',
 'pre_match_teamB_overall_ppg',
 'u45_potential',
 'u35_potential',
 'u25_potential',
 'u15_potential',
 'u05_potential',
 'corners_o85_potential',
 'corners_o95_potential',
 'corners_o105_potential',
 'team_a_xg_prematch',
 'team_b_xg_prematch',
 'total_xg_prematch',
 'competition_id',
 'matches_completed_minimum',
 'over05',
 'over15',
 'over25',
 'over35',
 'over45',
 'over55',
 'btts',
 'homeGoals_timings',
 'awayGoals_timings']

In [28]:
matches_df['attendance'].value_counts()

-1        1640
 0         378
 34977      20
 25700      13
 2000        8
          ...
 30654       1
 25794       1
 48321       1
 36031       1
 20496       1
Name: attendance, Length: 3805, dtype: int64

#### weird columns
- 'matches_completed_minimum'
- 'goal_timings_recorded'
- 'goalTimingDisabled'
- 'attendance'
- 'pens_recorded'